/* paul irish box-sixing */

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10PX */
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* globales */

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* @media (min-width: 768px) { 
    body{
        font-size: 1.6rem;
    }
} */

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) { 
    h1{
        font-size: 5rem;
        margin: 0;
        text-align: center;
    }
}

h2{
    font-size: 3rem;
}

@media (min-width: 768px) { 
    h2 {
        font-size: 4rem;
    }
}

h3{
    font-size: 2.4rem;
}

@media (min-width: 768px) { 
    h3{
        font-size: 3rem;
    }
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}

.boton{
    background-color: #8cbc00;
    color: white;
    text-transform: uppercase;
    display: block;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;

    text-align: center;
    border: none;
}

.boton:hover{
    background-color: #769c02;
    cursor: pointer;
}

/* Utilidades */

.color-importante{
    color: rgb(80, 87, 220);
}

.max-width30{
    max-width: 30rem;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}



/* Header y navegacion */



.nombre-sitio{
    margin: 5rem 0;
}

.contenedor-principal{
   border-top: .1rem solid #e1e1e1 ;

   display: flex;
   flex-direction: column;
   align-items: center;
}

@media (min-width: 768px) { 
    .contenedor-principal{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
     }
}

.contenedor-principal a{
    transition: background-color .3s ease-out;

    display: block;
    padding:2rem;
}

.contenedor-principal a:hover{
    background-color:rgb(80, 87, 220) ;
    color: white;
}

.contenedor-principal a:active{
    background-color: white;
    color: rgb(80, 87, 220);
}


.hero{
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}

@media (min-width: 768px) { 
    .hero{
        height: 55rem;
    }
}

/* categorias de productos */

.categorias-section{
    padding: 5rem 0;
}

.h2-categorias{
    margin: 0;
    padding-bottom: 5rem;
}

.categoria{
    margin-bottom: 2rem;
}

@media (min-width: 768px) { 
    .categoria{
        margin: bottom 0;;
    }
}

.categoria img{
    width: 100%;
}

.categoria a{
    display: block;
    text-align: center;
    padding:2rem 0 ;
    font-size: 2rem;
    
    transition: background-color .3s ease-out;
}

@media (min-width: 768px) { 
    .categoria a{
        border-bottom-right-radius: 1.5rem;
    }
}

@media (min-width: 768px) { 

    .categorias-productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}

.categoria a:hover{
    background-color:rgb(80, 87, 220) ;
    color: white;
}

.categoria a:active{
    background-color: white;
    color: rgb(80, 87, 220);
}

/* sobre nosotros */

.sobre--nosotros{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) { 
    .sobre--nosotros{
        margin: 0;
        height: 50rem;
    
        flex-direction: row;
        justify-content: center;
    }
}

.sobre--nosotros img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) { 
    .sobre--nosotros img{
        width: 50%;
        height: 100%;
    }
}

.nosotros--texto{
    background-color:rgb(80, 87, 220) ;
    color: rgb(255, 255, 255);
    padding: 2.5rem;
}

@media (min-width: 768px) { 
    .nosotros--texto{
        width: 50%;
        padding: 1rem 5rem 2.5rem 2.5rem;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center ;
    }
}

.h2-nosotros{
    margin: 0;
}

/* Lista de Productos */

.producto{
    background-color: rgb(80, 87, 220);
    margin-bottom: 2rem;
}

.producto:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) { 

    .lista-productos{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }

    .producto{
        background-color: rgb(80, 87, 220);
        margin-bottom: 0;
    }
    
    .producto:nth-child(1) {
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns:3fr 1fr;
        align-items: start;
    }
    
    .producto:nth-child(1) img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .producto:nth-child(2) {
        grid-column: 1 / 4;
    }
    
    .producto:nth-child(3){
        grid-column: 4 / 7;
    }
    
    .producto:nth-child(2) img,
    .producto:nth-child(3) img{
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    
    .producto:nth-child(4){
        grid-column: 1 / 3 ;
    }
    
    .producto:nth-child(5){
        grid-column: 3 / 5 ;
    }
    
    .producto:nth-child(6){
        grid-column: 5 / 7 ;
    }
    
    .producto:nth-child(4) img,
    .producto:nth-child(5) img,
    .producto:nth-child(6) img{
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
}

.h2-productos{
    padding: 5rem;
    margin: 0;
}

.producto__info{
    text-align: center;
    color: white;
    padding: 2rem;
}

.producto__inf__h3{
    margin: 0;
}

.producto__info__p{
    margin: 0 0 .5rem 0;
}

.producto__info__p--precio{
    font-size: 2.8rem;
    font-weight: 900;
}

/* footer */

.site-footer{
    border-top: .1rem solid #e1e1e1;
    margin: 5rem 0 0;
}

.site-footer h3{
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-align: center;
}

.site-footer a{
    display: block;
    text-transform: capitalize;
    text-align: center;
}

@media (min-width: 768px) { 

    .site-footer h3{
        text-align: left;
    }

    .site-footer a{
        text-align: left;
    }
}

.footer-grid > div{
    margin-bottom: 2rem;
}

@media (min-width: 768px) { 
    .footer-grid > div{
        margin: 0;
    }
    
}

.site-footer a:hover{
    color: rgb(80, 87, 220);
}

.footer-grid{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) { 
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        justify-items: center;
    }
}

.footer__copyright{
    margin: 5rem 1rem 2.5rem; 
}

@media (min-width: 768px) { 
    .footer__copyright{
        margin: 5rem 0 2.5rem;
    }
}


/** nosotros **/


.contenido-nosotros{
    display: grid;
    grid-template-rows: auto 1fr;

    gap: 2rem;
}

@media (min-width: 768px) { 
    .contenido-nosotros{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
    
        gap: 4rem;
        align-items: center;
    }
}

.informacion-nosotros{
    padding: 0 2rem;
}

@media (min-width: 768px) { 
    .informacion-nosotros{
        padding: 0;
    }
}

/* Blog */

.blog-contenido{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 4rem;
}

.entrada{
    border-bottom: .2rem solid #e1e1e1;
    padding-bottom: 3.3rem;
    margin-bottom: 2rem;
}

.entrada-meta{
    display: flex;
    justify-content: space-between;
}

.entrada:last-of-type{
    border: none;
}

/* Entrada de Blog */

.contenedor-entrada-blog{
    max-width: 60rem;
    margin: 0 auto;
}

/* Galeria */

.galeria{
    list-style-type: none;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.galeria img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

/* Formulario */

.formulario{
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset{
    border: .1rem solid black;
    margin-bottom: 2rem;
}

.formulario legend{
    width: 100%;
    background-color: rgb(58, 63, 161);
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}

fieldset{
    padding:2rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    flex-basis: 10rem;
}

.campo textarea{
    resize: vertical;
}

.campo input:not([type="radio"]),
.campo textarea,
.campo select
{
    flex: 1;
    border: .1rem solid #e1e1e1;
    padding: 1rem;
}
